*{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    display: inline-block;
    width: 100vw;
    /* height: 15vh; */
    font-size: xx-large;
    padding: 2vh 3vw;

}
.logo{
    display: inline-block;
    vertical-align:middle;
    align-items: start;
    /* height:100vh; */
}
.logo img{
    width: 100%;;
}
.nav{
    
    display: inline-block;
    background-color: white;
    width: 70%;
    /* position: absolute;; */
    /* padding: 1vh 2vw; */
    position: sticky;
    /* align-items: center; */
    text-align:center;
    vertical-align:middle;
    word-spacing: 2px;
}
.uname{
    display: inline-block;
}
.uname a{
    display: inline-block;
    background-color: rgb(51, 142, 212);
    border-radius: 10px;
    text-decoration:none;
}
.content{
    display: inline-block;
}
.left{
    /* padding: 10%; */
    vertical-align: middle;
    text-align: center;
    float:left;
    width: 50vw;
    
}
.right{
    vertical-align: middle;
    text-align: center;
    width: 50vw;
    float: right;
}
#book-button{
    padding-top: 1vh;
    display: inline-block;
    border-radius: 10px;
    min-width: 165px;
    height: 5vh;
    color: white;
    background-color: #0080ffc0;
    font-weight: 900;
    text-align: center;
    font-size: large;
    
    
}
#laundry{
    color:#0080ff;
    font-weight: bolder;
    font-size: xx-large;
}
#big{
    font-size:xx-large;
    color: rgba(40, 40, 40, 0.801);
}
p{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;

}